* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100vh;
  background: #222222;
}

.btn {
  position: relative;
  border-radius: 40px;
  padding: 12px 40px;
  font-size: 1.05em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbbbbb;
  user-select: none;
  background: #2f2f2f;
  transition: 0.5s;
  overflow: hidden;
}

.btn:hover {
  color: #ffffff;
}

.btn span {
  position: absolute;
  border-radius: 100%;
  border: 2px solid #ffffff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  filter: brightness(2);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 350px;
    height: 350px;
  }
}
